<html>
  <head>
    <title>Meal plan</title>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?q={{ 123234 }}" />
  </head>
  <body>
    <div class="index_container">
        <div class="nav">
          <ul>
            <li> <a href="/">Main</a> </li>
            <li> <a href="/users">Users</a> </li>
            <li> <a href="/search">Search</a> </li>
            <li> <a href="/track">Track</a> </li>
            <li> <a href="/calculateBMI">BMI</a> </li>
          </ul>
        </div>
  <div class="content_description">
    <h1 class="home_title"> Welcome to MealPlan... </h1>
    <figure style="background-image: url(./images/meal-prep.png);"> </figure>
    <br>
      <div id="instructions">
      <h3> This site will help you manage your meals and focus on your health! Here you will be able to get meal recommendations that are tailored, just for you! There are 5 different pages to help you do just this so, please read the following instructions to help you naviage our site.</h3>
      <ul class="index_list">
        <li> User page: This page will allow you to input information that is unique to you. You will need to fill out the form and submit in order to continue with the rest of this application.</li>
        <br>
        <li> Search page: This page will allow you to search for different meal options after you input a key food word. The meals returned will be based on your user information, ensuring the meals are especially for you!</li>
        <br>
        <li> Track page: You will be able to keep track of all your saved meal options on this page.</li>
        <br>
        <li> BMI page: Check your health on this page and find advice on your meal options!</li>
      </ul>

      <h2 id="get_started"> Get started...<a href="/users">here!</a> </h2>
      </div>
    </div>
    
    </div>
    <footer>
      <p>Made with &hearts; by Group7 &copy; 2021</p>
    </footer>
  </body>