<html>
  <head>
    <title>Meal plan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="nav">
      <a href="/">Main</a>
      <a href="/users">Users</a>
      <a href="/search">Search</a>
      <a href="/track">Track</a>
      <a href="/calculateBMI">BMI</a>
    </div>
        <h1>This is search page</h1>

    <form method="POST" action="/search">
       Select user name :
      <select name="user_name" >
                      {% for i in user_data %}
                      <option value="{{ i.user_name }}">{{ i.user_name }}</option>
                      {% endfor %}
                    </select>
       Search food : <input type="text" name="search_keyword">
       <input id="submit" type="submit" value="Submit">
    </form>

    <h3>Your search keyword is : {{ search_keyword }}</h3>

    {% if search_keyword == None: %}
        <p>Please enter your search keyword</p>
    {% else: %}
        <form method="POST" action="./search">
             {% for i in range(0, 10) %}
                <div>
                   <h2>
<!--                       <input type="radio" name="selected_food" id="{{ i }}" value="{{ search_data["hits"][i]['recipe']['label'] }}">-->
                       <input type="radio" name="selected_food" id="{{ i }}" value="{{ search_data["hits"][i] }}">
                     {{ search_data["hits"][i]['recipe']['label'] }}
                   </h2>
                   <h4>
                    Calories: {{ '%0.2f'| format(search_data["hits"][i]['recipe']['calories']) }} kcal
                   </h4>
              {% for j in range(0, 40) %}
                <p>{{ search_data['hits'][i]['recipe']['ingredientLines'][j] }}</p>
              {% endfor %}
           </div>
            {% endfor %}
            <input type="date" id="start" name="date" value="2021-08-20">
            <input type="submit" type="submit" value="Save">
        </form>
    {% endif %}
  </body>

