<html>
  <head>
    <title>Meal plan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v={{ style_css_mtime }}" />
  </head>
  <body>
    <div class="search_container">
        <div class="nav">
          <ul>
            <li> <a href="/">Main</a> </li>
            <li> <a href="/users">Users</a> </li>
            <li> <a href="/search">Search</a> </li>
            <li> <a href="/track">Track</a> </li>
            <li> <a href="/calculateBMI">BMI</a> </li>
          </ul>
        </div>
        <h1 id="search_title">Select your name and search an ingredient below! </h1>

    <form method="POST" action="/search" class="form1">
      <div class="user_name">
       Select user name :
      <select name="user_name" >
                      {% for i in user_data %}
                      <option value="{{ i.user_name }}">{{ i.user_name }}</option>
                      {% endfor %}
                    </select>
      </div>
      <div class="search_keyword">
       Search food : <input type="text" name="search_keyword" required >
       <input type="submit" value="Submit" onclick="myFunction()">
      </div>
    </form>

    <!-- <h3>Your search keyword is : {{ search_keyword }}</h3> -->

    {% if search_keyword == None: %}
        <p id="food_search">Preparing your meal choices now... <i class="far fa-clock"></i> </p> 
    {% elif search_data == "No data" %}
    <h2>Sorry, there is no search result with the keyword {{ search_keyword }}</h2>
    {% else: %}
        <h3 class="meal_keyword">Your search keyword is : {{ search_keyword }}</h3>
        <form method="POST" action="/search">
            <input type="hidden" name="selected_user" value="{{ user_name }}">

              {% for i in range(0, 10) %}
                <div class="meal_output">
                   <h2>
                       <input type="radio" name="selected_food" id="{{ i }}" value="{{ search_data["hits"][i]['recipe']['label'] }}">
                       <input type="hidden" name="calories" value="{{ '%0.2f'| format(search_data["hits"][i]['recipe']['calories']) }}">
                       <input type="hidden" name="saved_selected_user" value="{{ selected_user }}">
                     {{ search_data["hits"][i]['recipe']['label'] }}
                   </h2>
                   <h4>
                    Calories: {{ '%0.2f'| format(search_data["hits"][i]['recipe']['calories']) }} kcal
                   </h4>
              {% for j in range(0, 40) %}
                <p>{{ search_data['hits'][i]['recipe']['ingredientLines'][j] }}</p>
              {% endfor %}
                
            {% endfor %}
            </div>
            <input type="date" name="date" value="2021-08-20">
            <input type="submit" type="submit" value="Save">
            
        </form>
    {% endif %}
    </div>
    <!-- <script src="./reminder.js"> </script> -->
    <script>
      function myFunction() {
        alert('Please scroll to end of page to save your selected meal choice!');
      }
    </script>
  </body>

