<html>
  <head>
    <title>Meal plan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="nav">
      <a href="/">Main</a>
      <a href="/users">Users</a>
      <a href="/search">Search</a>
      <a href="/track">Track</a>
      <a href="/nhs">NHS</a>
    </div>
    <h1>This is users page to manage users</h1>

      <form method="POST" action="/users">
          <table>
            <tr>
                <td>User name : </td>
                <td><input type="text" name="user_name"></td>
            </tr>
            <tr>
                <td>Age : </td>
                <td><input type="text" name="age"></td>
            </tr>
            <tr>
                <td><label for="gender">Gender</label></td>
                <td><select name="gender" >
                      <option value="female">Female</option>
                      <option value="male">Male</option>
                      <option value="others">Others</option>
                    </select>
                </td>
            </tr>
              <tr>
                <td><label for="diabetes">Diabetes</label></td>
                <td><select name="diabetes" >
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                </td>
            </tr>
              </tr>
              <tr>
                <td><label for="allergies">Allergies</label></td>
                <td><select name="allergies" >
                      <option value="Peanut">Peanut-Free</option>
                      <option value="Shellfish">Crustacean-Free</option>
                      <option value="Gluten">Gluten-Free</option>
                      <option value="No-allergies">No-allergies</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="activeness">Activeness</label></td>
                <td>
                    <select name="activeness" >
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input id="submit" type="submit" value="Submit"></td>
            </tr>
          </table>
        </form>

    <table>
        <tr>
            <th>User ID</th>
            <th>User name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Diabetes</th>
            <th>Allergies</th>
            <th>Activeness<th>
        </tr>
        {% for i in user_data %}
        <tr>
            <td>{{ i.user_id }}</td>
            <td>{{ i.user_name }}</td>
            <td>{{ i.age }}</td>
            <td>{{ i.gender }}</td>
            <td>{{ i.diabetes }}</td>
            <td>{{ i.allergies }}</td>
            <td>{{ i.activeness }}</td>
            <td><form method="POST" action="./delete_users">
                <input type="hidden" value="{{ i.user_id }}" name="user_id">
                <input type="submit" value="Delete">
            </form></td>
        </tr>
        {% endfor %}
    </table>

  </body>
